$primary: #2979ff;
$success: #1dd3b0;
$error: #ef476f;
$warning: #ffa726;

$white: #ffffff;
$black: #212121;
$dark: rgba(
    $color: $black,
    $alpha: 0.65,
);

$background: rgba(
    $color: #82b1ff,
    $alpha: 0.5,
);
